<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        padding: 2rem;
      }

      h1 {
        font-size: 1.6rem;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: black;
        padding-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        font-family:
          "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: rgba(128, 128, 128, 0.634);
      }
    </style>
    <title>400 Bad Request</title>
  </head>
  <body>
    <h1>400 Bad request</h1>
    <p><%= message %></p>
  </body>
</html>
