<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head>
<body>
    <% messages.forEach(element => { %>
        <%- include("message", {user: element.user, text: element.text, added: element.added}) %>
    <% }) %>
</body>
</html>