<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <header>
        <a href="/">All Messages</a>
    </header>
    <main>
          <%- include("messageCard", {user, added, text, messageid}) %>
    </main>
</body>
</html>